<div id="cssshifttitle">

</div>
<div id="ti">

  <h1 class="center"><a href="/" class="blt">{{title}}</a></h1>
</div>



<!-- <p class="center">Click the button to get your coordinates.</p> -->
<form action="/" method="post">



    <div class="frow">
      <div>

        <div class="mdl-textfield mdl-js-textfield opfm tts">
          <div id="latt">

            <input class="mdl-textfield__input boinput" name="loc" type="text" id="lllat" placeholder="Type a location"/>
          </div>
          <div class="mdl-tooltip mdl-tooltip--large" for="lllat">Location</div>

        </div>
      </div>
      <div>

        <div class="rcr">

          <div>
            <div id="finda" class="opfm">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" type="submit">Find</button>

            </div>
          </div>
        </div>
      </div>

    </div>



</form>
