<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="icon" type="image/png" href="images/favicon.png">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="flec">
      {{{body}}}

    </div>
    <!-- make the footer at the bottom for the home page -->
    <footer class="text-center footer">
      <small><a class="fotext" target="_blank" href="https://tommygao.com">Tommy Gao created this website. It is still a work in progress.</a></small>
      <br>
      <small>&copy; <script>new Date().getFullYear()>2017&&document.write(new Date().getFullYear());</script> by Tommy Gao. Made in San Francisco.</small>
    </footer>
  </body>
</html>
