
.center {
    text-align: center;
}

.frow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flec {
  padding-top: 20vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
}
.rcr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 769px) {
    .frow {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

    }
    .flec {
      padding-top: 28vh;
    }
    .rcr {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

}

.opfm {
  padding: 0.75em;
}

.sb {
padding: -5px;
}
