@keyframes bgcolor {
  0% {
    background-color: #f48fb1
  }

  30% {
    background-color: #ba68c8
  }

  60% {
    background-color: #81d4fa
  }

  90% {
    background-color: #1de9b6
  }

  100% {
    background-color: #b0bec5
  }
}

body {
  -webkit-animation: bgcolor 30s infinite;
  animation: bgcolor 15s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}
.center {
  text-align: center;
}

.frow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.ec {
  display: flex;
  flex-direction:  column;
  justify-content: center;
  margin-left: 5vw;
  margin-right: 5vw;

}
.ss {
  background-color: rgba(240, 240, 240, 0.6);
  padding: 2vw;
}

.flec {
  padding-top: 20vh;
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: center; */
}
.rcr {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.boinput {
  background-color: white;
  border-radius: .75em;
  border: 2px solid indigo;
  padding: .75em;
  margin-left: -3.5vw;
}
@media screen and (min-width: 28.75rem) {
  .boinput {
    background-color: white;
    border-radius: .75em;
    border: 2px solid indigo;
    padding: .75em;
    margin-left: 0;
  }
}

@media only screen and (min-width: 769px) {
  .frow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
  /* .boinput {
    background-color: white;
    border-radius: .75em;
    border: 2px solid indigo;
    padding: .75em;

  } */
  .tts {
    margin-right: 1em;
  }
  .flec {
    padding-top: 28vh;
  }
  .rcr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: .75em;
  }

}

.opfm {
  padding: .75em;
}

.sb {
padding: -5px;
}

.fbb {
  padding: 1em;
}


.blt {
  color: #191919;
}

.lblt {
  color: #383838;
}

.ep {
  /* text-align: center; */
  text-align: left;
  /* width: 90%; */
}

.ro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.lefm {
  /* margin-left: 10vw; */
  margin-right: 2vw;
}

#floater {
  width: 84.5vw;
  /* background-color: rgba(240, 240, 240, 0.6); */
  /* background-color: green;
  opacity: .5; */
}
.no {

}
#floatpic {
  float: left;

}

.uppermargin {
  margin-top: 0px;
  margin-bottom: 15px;
}

.tbutton {
  border: 2px solid;
  border-color: #cc33ff;
  padding: .6em 1em;
  border-radius: .4em;
  background-color: #cc33ff;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;

}

.tbutton:hover {
  background-color: transparent;
  cursor: pointer;
  color: black;
  border-color: black;
}

.tbutton:active {
  background-color: #d966ff;
  color: white;
}
